*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.divw{
    width: 1250px;
    margin: 0px auto;
}
.div1-bg{
    background-color: rgb(47, 69, 79);
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
    padding: 20px;
}
.div1 li:first-child{
    padding-left: 0px;
}
.div1-bg li{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.div1 li img{
    margin-right: 5px;
}
.div1-bg a{
    padding: 20px 0px;
    font-size: 18px;
    color: white;
}
.div1{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
}
.div2{
    display: flex;
    justify-content: space-between;
}
.phone{
    background-image: url(Design-set1/Icons/phone.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 35px;
}
.phone div{
    margin-left: 20px;
}
.email{
    background-image: url(Design-set1/Icons/email.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 35px;
}
.email div{
    margin-left: 20px;
}
.phone a, .email a{
    color: rgb(47, 69, 79);
    font-weight: bold;
}
.logo{
    margin: 12px 0px;
}
.email{
    padding-right: 0px;
}
.div1 li{
    border-right: 1px solid rgb(179, 179, 179);
}
.div1 ul:last-child li:last-child{
    padding-right: 0px;
    border-right: none;
}
.div1 ul:first-child li:last-child{
    border-right: none;
}
.div3-bg{
    background-color: rgb(139, 51, 9);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav li:first-child{
    padding-left: 0px;
}
nav a{
    color: white;
    font-weight: bold;
}
.search-bar{
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: rgba(145, 96, 96, 0.945);
}
.search-bar input{
    border: none;
    padding: 12px 0px;
    background-color: rgba(145, 96, 96, 0.945);
}
.search-bar input::placeholder{
    color: white;
    font-size: 15px;
}
.div4-bg{
    background-image: url(Design-set1/Images/banner.jpg);
    background-size: cover;
    border-left: 1px solid white;
}
.shadow{
    background-color: rgba(0, 0, 0, 0.7);
}
.content{
    margin: auto 0px;
    padding: 130px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight:  bold;
    font-size: 60px;
    margin-bottom: 50px;
}
.content p{
    width: 500px;
    word-spacing: 5px;
    margin-bottom: 50px;
}
.btn1{
    background-color: white;
    border-color: white;
    color: rgb(187, 86, 39);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 25px 30px;
}
.btn2{
    background-color: rgb(187, 86, 39);
    padding: 20px;
    border-radius: 40px;
    border-color: rgb(187, 86, 39);
    margin: 0px 20px;
}
.btn3{
    background-color: rgba(0, 0, 0, 0.001);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.div5-bg{
    background-color: rgb(47, 69, 79);
}
.div5 ul{
    display: flex;
}
.div5 li{
    border-right: 1px solid rgb(179, 179, 179);
    text-align: center;
    width: 17%;
    padding: 0px;
}
.div5 li:last-child{
    border-right: none;
}
.div5 a{
    color: white;
    display: inline-block;
    padding: 40px;
    font-size: larger;
    font-weight: bold;
    width: 100%;
}
.div5 p{
    width: 120px;
    display: inline-block;
    padding-left: 10px;
    text-align: justify;
}